/* Layout หลัก */
.container {
  display: block; /* Changed from flex to block */
  height: 98vh;
  font-family: "Prompt", sans-serif;
}

/* พื้นหลังเมนูหลัก */
.menu-main {
  width: 280px;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border-right: 5px solid #ddd;
  position: fixed; /* Make sidebar fixed */
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
}

/* Profile Header in Sidebar */
.profile-header {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
}

.profile-icon-header {
  font-size: 24px;
  margin-right: 15px;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-username {
  font-weight: bold;
  font-size: 16px;
}
.profile-department {
  font-size: 14px;
  color: #555;
}

/* พื้นหลังเมนูย่อย */
.menu-sub {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-top: 0px;
  padding: 12px;
  background-color: #eceaea;
  border-radius: 20px;
}
/* พื้นหลังเมนูออกจากระบบ */
.menu-sub1 {
  margin-top: auto; /* Changed to auto to push to the bottom */
  margin-bottom: 40px;
  padding: 10px;
  background-color: #eceaea;
  border-radius: 20px;
}

/*หัวข้อเมนูต่างๆ*/
.menu-title {
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  color: #000000;
  text-align: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
  color: #4a90e2;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*ปุ่มกดต่างๆ*/
.menu-btn {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 12px;
  margin: px;

  width: 225px;
  background-color: #f5f5f5;
  border: 3px solid #e0e0e0;
  color: #a19b9b;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.2s, transform 0.2s;
}

/* ปุ่มออกจากระบบ */
.logout-btn {
  margin: auto;
  padding: 15px 70px;
  background-color: #ffffff;
  border: 3px solid #e0e0e0;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn:hover {
  background-color: #e0e0e0;
  transform: translateY(-2px);
}

.menu-btn.active {
  background-color: #d1e7d1;
  border-color: #a4c5a4;
  padding-right: 10px;
}

.logout-btn:hover {
  background-color: #fd8d8d;
  transform: translateY(-2px);
}

.logout-btn.active {
  background-color: #fd8d8d;
  border-color: #cd4646;
  padding-right: 10px;
}

/* Content (ด้านขวา) */
.content {
  margin-left: 280px; /* Same as menu-main width */
  padding: 30px;
  background-color: #ecf0f1;
  overflow-y: auto;
  height: 100vh; /* Make content scrollable */
}
